.container{
    height: 100vh;
}
.header{
    background-color: red;
    height: 10%;
}
.content{
    height: 90%;
    display: flex;
}
.navbar{
    width: 20%;
}
.main{
    width: 80%;
}
.nav1{
    background-color: lawngreen;
    height: 15%;
}
.nav2{
    background-color:purple;
    height: 70%;
}
.nav3{
    background-color: mediumseagreen;
    height: 15%;
}
.main1{
    background-color: rosybrown;
    height: 9%;
}
.main2{
    background-color: sienna;
    height: 10%;
}
.main3{
    height: 71%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5%;
}
.one{
    width: 46%;
}
.two{
    background-color: yellow;
    width: 46%;
}
.one-one{
    background-color: red;
    height: 40%;
}
.one-two{
    background-color: tomato;
    height: 55%;
}